# OS files
.DS_Store
.db

# Python
venv/
__pycache__/
*.pyc
.env
5ai-scrapper/
venv/
additional_file/
.env/

# Node / Angular
node_modules/
dist/
scraper_venv/
.env

# Logs
*.log
logs/

# IDE files
.vscode/
.idea/

# Compiled output
*.class
*.o
*.exe

# Environment / Secrets
*.env
.env.local

#sessions-file
*.session
*.config

#datafiles
data_files/